<div class="top-row px-4">
    <AuthorizeView>
        <NotAuthorized>
            <NavLink class="nav-link" href="Account/Login">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </NotAuthorized>
        <Authorized>
            <NavLink class="nav-link" href="Account/Manage">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
            </NavLink>
        </Authorized>
    </AuthorizeView>
</div>