@using System.ComponentModel.DataAnnotations
@using ComBot_Revamped.Components.Account.Pages

<div class="login-blocker">
    <div class="bg-body login-panel rounded-4">
        <Login />
    </div>
</div>