body {
}

.login-blocker {
    backdrop-filter: blur(3.5px);
    background-color: var(--bs-border-color-translucent);
    width: 100%;
    height: 100%;
    position:absolute;
    z-index:99999;
}

.login-panel {
    width: 45%;
    position:absolute;
    left:22.5%;
}