@page "/commands"
@using ComBot_Revamped.Commands
@using Microsoft.AspNetCore.Html;

@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Commands</PageTitle>

<AuthorizeView>
    <ChildContent Context="authCtx">
        @if (selectedCommand == null)
        {
            <h1 class="border-bottom">Commands</h1>
            <div class="d-flex flex-row flex-wrap">
                @foreach (var command in CommandManager.CommandTypeLookup)
                {
                    <button class="btn btn-secondary m-1" @onclick="() => { SelectCommand(command.Value); }">
                        @command.Value.Names[0]
                    </button>
                }
            </div>
        }
        else
        {
            <div>
                <button class="btn btn-secondary mb-2" @onclick="() => { SelectCommand(null); }">Back</button>
                @if(caughtException != null)
                {
                    <div class="alert-danger alert">
                        <b>ERROR:</b>
                        <p>@caughtException</p>
                    </div>
                }

                <p>COMMAND SELECTED: @selectedCommand.Names[0]</p>

                <EditForm class="align-bottom " Model="args" method="post" FormName="commandForm" OnValidSubmit="async () => { await SubmitCommand(authCtx); }">
                @for(int i = 0; i < selectedCommand.Arguments.Count; i++)
                {
                        var b = i;
                        <InputText @bind-Value="args[b]" class="rounded form-floating form-control w-100 mb-2" placeholder="@selectedCommand.Arguments.Values.ToArray()[i]"></InputText>
                }
                    <button class="btn btn-primary w-100" type="submit">SEND COMMAND</button>
                </EditForm>
            </div>
        }
    </ChildContent>
</AuthorizeView>


@code {
    private Command? selectedCommand { get; set;}
    internal Exception? caughtException { private get; set; }

    // Normal idiom? Unclear... unlikely
        // It works tho.
    [SupplyParameterFromForm]
    private string[] args { get; set; } = new string[0];

    private void SelectCommand(Command? cmd)
    {
        selectedCommand = cmd;
        args = new string[cmd != null ? cmd.Arguments.Count : 0];
        // If you just changed the command; You can't have caught an exception from it.
        caughtException = null;
    }

    private async Task SubmitCommand(AuthenticationState auth)
    {
        // Set the caught exception to null to reset state 
        caughtException = null;

        // A command will always have at least one name. Since they're registered via reflection.
        var cmdName = selectedCommand.Names[0];

        // Convert it to a list and insert the name as element zero.
        var argList = args.ToList();
        argList.Insert(0, cmdName);

        try
        {
            var task = CommandManager.TryStartCommand(auth, selectedCommand, argList.ToArray());

            await task;
        } catch(Exception e)
        {
            caughtException = e;
        }

        // Don't go back a menu if something went wrong
        if (caughtException == null)
        {
            SelectCommand(null);
        }
    }
}
  